body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	display: flex;
	height: 100vh;
	flex-direction: column;
	font-family: Circular,"Helvetica Neue",Helvetica, Arial, sans-serif;
	z-index: 99;
}
.container {
	max-width: 1000px;
	margin: 30px auto;
	width: 100%;
	flex: 1;
}
