section.places {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: black;
  z-index: -1;
}
section.places > h1 {
  width: 100%;
  padding-top: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 30px;
  font-size: 30px;
}
section.places > article.listing {
  width: 390px;
  min-width: 390px;
  display: flex;
  padding: 20px;
  margin: 20px;
  padding-bottom: 5%;
  border: 1px solid #FF5A5F;
  border-radius: 4px;
}
section.places > article.listing h2 {
  overflow: hidden;
  display: flex;
  margin: auto;
  text-align: center;
  font-size: 30px;
}